h1{
    color: blue;
    text-align: center;
    font-size: 36px;
    background-color: rgb(198, 216, 198);
}

h2{
    color: green;
    font-size: 36px;
    text-align: center;
}

p{
    color :blue;
    font-size: 18px;
    text-align: justify;
}


image{
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
}